*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
Android/.idea
Sources/External/STB
Sources/External/glm
Sources/External/ARCore
local.properties
